@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter.ttf");
}

.App {
  text-align: center;
  font-family: 'Inter';
  background-color: #f3f3f3;
  font-smooth: always;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: -1px;
}

.grid-wrapper {
  display: grid;
  gap: 0px;
  min-height: 100vh;
  max-height: 100vh;
  grid-template-rows: 6fr 1fr;
  grid-template-columns: minmax(0, 1fr) 1fr;
}

.news-container {
  max-width: 100%;
  min-width: 0;
  grid-column: 1/4;
  grid-row: 1;
}

.weather-container {
  padding-bottom: 1rem;
  overflow: hidden;
  grid-column: 4 / 4;
  grid-row: 1 / 2;
}

.sports-container {
  grid-column: 1/5;
  grid-row: 2 / 3;
}